*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(2, 6, 23);
    color: #FFF8F0;
    margin-bottom: 5vh;
}

header{
    background: #0d1f354d;
    padding-left: 1vw;
    padding-top: 2vh;
    position:static;
    height: 10vh;
    width: 100%;
    display:inline-flexbox;
    align-items: center;
    overflow: hidden;
}

.menu{
    float: right;
    align-items: center;
    margin-top: -45px;
    margin-right: 1vw;
    display: inline-flexbox;
}

.icones{
    height: 3.0vh;
    padding-right: 3vh;
}

hr{
    color: #31afe6;
}

.container{
    margin-top: 7vh;
    width: 55%;
    background: linear-gradient(to right, #051122, #020617);
    opacity: 80%;
    border-radius: 10px;
    font-size: 1.5em;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

#boas_vindas{
    padding: 3vh;
    color: #be0000;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(247, 0, 0, 0.5);
    width: 50%;
    border-radius: 10vh;
    margin-top: 5vh;
    text-align: center;
    background: linear-gradient(to right, #010714, #000000);
}

#addlinks{
    text-align: center;
    align-items: center;
}

.inputs{
    width: 50vw;
    background:#2c3450;
    margin-right: 2vw;
    border: 1px solid #4d91df;
    border-radius: 10px;
    color: white;
}

.barraalinks{
    color: #0c79f5;
    text-shadow: 0 0 10px #006de9;
    text-decoration: dotted;
}

.barraalinks:hover{
    color: #0764ce;
    text-shadow: 0 0 10px rgba(26, 141, 187, 0.5);
}

.inputs:hover{
    border: 1px solid #006de9;
    transition:1s;
}

#apagarlinks{
    margin-top: 7vh;
    width: 25%;
    background-color: #111827;
    opacity: 80%;
    border-radius: 10px;
    font-size: 1.5em;
    padding-bottom: 3vh;
    padding-top: 3vh;
    align-items: center;
}

.dias{
    font-size: 3.0em;
    color: #0c79f5;
    text-shadow: 0 0 10px rgba(26, 141, 187, 0.5);
}

#contadordedias{
    text-align: center;
    width: 50%;
}

#imgcontador{
    height: 12vh;
}

.img-container{
    height: 4vh;
    width: 4vh;
}

.img-develop{
    height: 30vw;
    width: 30vw;
}

#code-block {
    background: #6b6262;
    color: #D4D4D4;
    font-family: 'Cascadia Code', Consolas, monospace;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
}

#especificos{
    background: #020617;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0;
    margin-top: 10px;
    color: #be0000;
}

#img-vbox {
    display: none;
    height: 3.5vh;
    width: 3.8vh;
}

#botao-vbox{
    background: #05448b;
    border-color: #05448b;
}
a:hover ~ #img-vbox {
    display: inline;
}

.blocos{
    margin-left: 15px;
    display: block;
    background: linear-gradient(to right, #010c1a, #020617);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 3vh;
}

.btnsec{
    background-color: #063f79;
    border-color: #111827;
}

.btnsec:hover{
    box-shadow: 0 0 10px#468ee0;
    transition:ease-in-out 0.1s;
    background-color: #031930;
}

@media (max-width: 516px){
    .dias{
        font-size: 2.0em;
    }

    .container{
        width: 80%;
    }

    #btnos{
        height: 30%;
        width: 80%;
    }
}

#btnlinux{
    background-color: #06a529fd;
    border-color: #02942e;
}

#btnlinux:hover{
    box-shadow: 0 0 10px#01ff80;
    transition:ease-in-out 0.1s;
    background-color: #015327;
}

#imglinux{
    display: none;
}

/* Tema linux */

body.linux{
    background-color: rgb(3, 4, 5);
    color: rgb(0, 177, 38);
}
body.linux .container {
    background: rgb(5, 5, 5);
}

body.linux hr{
    color: rgb(48, 54, 61);
}

body.linux .btnsec{
    background: transparent;
    border: solid 1px rgb(0, 255, 102);
}

body.linux .btnsec:hover{
    box-shadow: 0 0 10px#01ff80;
}

body.linux header{
    background-color: rgb(9, 11, 14);
}

body.linux #imglinux{
    display: block;
    height: 10vh;
}