*{
    margin: 0;
    padding: 0;
}

body{
    background: #020617;
    color: #FFF8F0;
    margin-bottom: 5vh;
}

header{
    background: #0f172a;
    padding-left: 1vw;
    padding-top: 2vh;
    position:static;
    height: 10vh;
    width: 100%;
    display:inline-flexbox;
    align-items: center;
    overflow: hidden;
}

.menu{
    float: right;
    align-items: center;
    margin-top: -45px;
    margin-right: 1vw;
    display: inline-flexbox;
}

.icones{
    height: 5vh;
    padding-right: 2vh;
}

hr{
    color: #38bdf8;
}

.container{
    margin-top: 7vh;
    width: 55%;
    background-color: #111827;
    opacity: 80%;
    border-radius: 10px;
    font-size: 1.5em;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

#boas_vindas{
    padding: 3vh;
    color: #be0000;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(247, 0, 0, 0.5);
    width: 50%;
    border-radius: 10vh;
    margin-top: 5vh;
    text-align: center;
}

#addlinks{
    text-align: center;
    align-items: center;
}

.inputs{
    width: 50vw;
    background:#2c3450;
    margin-right: 2vw;
    border: 1px solid #4d91df;
    border-radius: 10px;
}

.barraalinks{
    color: #0c79f5;
    text-shadow: 0 0 10px #006de9;
    text-decoration: dotted;
}

.barraalinks:hover{
    color: #0764ce;
    text-shadow: 0 0 10px rgba(26, 141, 187, 0.5);
}

.inputs:hover{
    border: 1px solid #006de9;
}